---
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import { linkToForm } from '@assets/constants'

const { h1, h2, highlight, isMeta, buttonTitle } = Astro.props
const space = '\u00A0'
---

<h1>
  {`${h1}${space}`}<span class:list={['highlight', { metaHighlight: isMeta }]}
    >{highlight}</span
  >
</h1>
<h2>
  {h2}
</h2>
<PrimaryButton
  title={buttonTitle}
  link={linkToForm}
  class="primary-button-hero"
/>
<p>Available on iOS, Android & Web</p>

<style lang="scss" is:global>
  @use '../../styles/styles.scss' as *;

  .primary-button-hero {
    margin: 36px 0;
  }

  @media screen and (max-width: $max-large-tablet-bp) {
    .primary-button-hero {
      margin: 24px 0;
    }
  }
</style>

<style lang="scss">
  @use '../../styles/styles.scss' as *;

  h1 {
    display: inline;
    font-size: var(--h1-size);
    font-weight: 700;
    line-height: 3.4444rem;
    width: 100%;
  }

  .highlight {
    display: inline;
    color: var(--instagram);
    font-style: italic;
  }

  .metaHighlight {
    color: var(--meta);
  }

  h2 {
    font-size: var(--h3-size);
    font-weight: 500;
    line-height: 1.7778rem;
    margin-top: 24px;
  }

  p {
    font-size: var(--small-text-size);
    font-weight: 500;
    color: var(--simple-gray);
  }

  p {
    font-size: var(--text-size);
  }

  @media screen and (max-width: $max-large-tablet-bp) {
    h1 {
      font-size: var(--h1-mobile-size);
      line-height: 2.7778rem;
    }

    h2 {
      font-size: var(--text-size);
      line-height: 1.5556rem;
      margin-top: 16px;
    }

    p {
      font-size: var(--small-text-size);
    }
  }
</style>
